{% extends 'base.html.twig' %}

{% block title %}Seite nicht gefunden{% endblock %}

{% block body %}
    <h1>404 – Seite nicht gefunden</h1>
    <p>Sorry, diese Seite existiert nicht.</p>

    <a href="{{ path('allArtworks') }}">Zurück zur Übersicht</a>
{% endblock %}