<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gallery Am Fluss{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{{ path('home') }}">Gallery</a>
    </nav>

    {% block body %}{% endblock %}

    <footer>
        <p>Gallery Am Fluss</p>
    </footer>
</body>
</html>